@model IEnumerable<Bump.EStore.Infrastructure.Data.EFModels.Freebie>

@{
    ViewBag.Title = "贈品總覽";
    ViewBag.Breadcrumbs = new string[] { "行銷管理", "贈品區管理" };
}

@section customStyles{
    <style>
        .card-img-top {
            object-fit: cover;
            height: 200px; /* 调整卡片图像的高度 */
        }
    </style>
}

<div class="row d-flex justify-content-between">
    <h2 class="col-md-2 mt-3">贈品總覽</h2>
    <div class="col-md-2 mt-3">
        <a class="btn btn-dark" href="@Url.Action("Create")" role="button"><i class="fa-solid fa-plus"></i>新增贈品</a>
    </div>

</div>

@foreach (var item in Model)
{
    <div class="col-md-4"  style="width: 18rem;">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="~/Uploads/Freebie_imgs/@item.Thumbnail" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-text fw-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Edit", new { id = item.Id })" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("EditImg", new { id = item.Id })" role="button"><i class="fa-regular fa-image"></i></a>
                        <button type="button" class="btn btn-sm btn-outline-secondary delete" id="@item.Id"><i class="fa-solid fa-trash"></i></button>
                    </div>
                    <small class="text-muted">
                        參考售價
                        @Html.DisplayFor(modelItem => item.Price)
                    </small>
                </div>
            </div>
        </div>
    </div>
}





@section scripts{
    <script src="https://kit.fontawesome.com/afa27cfccd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            var deleteMessages = document.querySelectorAll('.delete');
            deleteMessages.forEach(deleteMessage => {
                deleteMessage.onclick = function () {

                    Swal.fire({
                        title: '你確定要刪除這筆紀錄嗎?',
                        text: "刪了就回不去了",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '確定',
                        cancelButtonText: '取消'
                    })
                        .then(function (result) {
                            if (result.value) {
                                fetch(`/Freebies/Delete`, {
                                    method: "POST",
                                    body: JSON.stringify({
                                        id: deleteMessage.id
                                    }),
                                    headers: {
                                        "content-type": "application/json"
                                    }
                                })
                                    .then(res => {
                                        if (res.ok) {
                                            Swal.fire(
                                                '刪除!',
                                                '你成功將資料刪除',
                                                'success'
                                            ).then(
                                                function () {
                                                    location.reload();
                                                })
                                        }
                                    })
                                    .catch(err => {
                                        alert(err)
                                    })
                            }
                        })
                }
            });
        });

    </script>

}