@model IEnumerable<Bump.EStore.Infrastructure.Data.EFModels.CouponSendＭembers>

@{
    ViewBag.Title = "Index";
    ViewBag.Breadcrumbs = new string[] { "優惠券管理", "優惠券總覽", "發送紀錄" };

    string couponName = Model.FirstOrDefault(m => m.CouponId == ViewBag.Id).Coupon.Name;
}

@section customStyles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <style>
    </style>
}

<div class="d-flex">
    <div class="m-2"><h2>發送紀錄</h2></div>
    <div class="m-2 mt-3 text-secondary"><h5>@couponName</h5></div>
</div>
<section class="container">
    <div class="row justify-content-between">
        <div class="mb-3 col-md-1">
            <a class="btn btn-dark" href="@Url.Action("Index", "Coupons")" role="button"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
</section>
<table id="myTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                會員帳號
            </th>
            <th>
                發送時間
            </th>
            <th>
                是否使用
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendingTime)
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" @(item.Usage ? "checked" : "") disabled>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://kit.fontawesome.com/afa27cfccd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                /*  "searching": false,*/
                "pageLength": '10',
                "scrollCollapse": true, // 預設為false 是否開始滾軸功能控制X、Y軸
                "scrollY": "700px", // 若有設置為Y軸(垂直)最大高度
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/zh_Hant.json"
                }
            });
        });
    </script>

}