@model Bump.EStore.MVC.ViewModels.SkillcurriculumEditVM

@{
    ViewBag.Title = "修改技巧課課表";
}
@section customStyles{
    <script src="https://kit.fontawesome.com/ad3e947694.js" crossorigin="anonymous"></script>
}
@*<h2>修改技巧課課表</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <h2 class="m-2 mb-3">@Model.Name</h2>
    <div class="row">
        <div class="col-md-2 rounded-top mb-0 d-flex justify-content-center pt-2" style="background-color: rgb(87,55,25)">
            <p class="h6 text-white">修改課表教練資料</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-0 p-1" style="background-color: rgb(87,55,25)">
        </div>
    </div>

    <div class="row  border border-secondary p-3 px-5">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.Field, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Field, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Field, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.Week, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Week, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Week, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3 col-md-6">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control bg-secondary text-white", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.CoachId, htmlAttributes: new { @class = "form-label" })
            @Html.DropDownList("CoachId", null, htmlAttributes: new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.CoachId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="確認修改" class="btn btn-primary" />
        </div>
    </div>
</div>
    }

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("不更新返回", "Index", null, new { @class = "fa-solid fa-person-walking-arrow-loop-left" })

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
